.tile {
  width: 150px;
  height: 150px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.tile .text {
  font-family: Arial; 
  text-align: center;
  color: white;
}

.bottom {
  border-bottom: 5px solid white;
}

.right {
  border-right: 5px solid white;
}